**/DEBUG/
**/Debug/
**/debug/
**/RELEASE/
**/Release/
**/release/
**/BUILD/
**/Build/
**/build/
**/gen/
**/pio/*.pio.h
**/.idea/
**/cmake-build-debug/
*.config
**/config.h
/Beispiele/
/allgemein/
/Fragen.txt
/RoomMeasurements/String/extended_string.cpp
/RoomMeasurements/String/extended_string.h
/Projektnotizen.txt
/esp8266/config.h